// 从页面底部弹出框动画
.dialog-enter-active {
    transition: all .3s ease;
  }
  .dialog-leave-active {
    transition: all .3s ease;
  }
  .dialog-enter{
    transform: translate(0,10rem);
  }
  .dialog-leave-to {
    transform: translate(0,10rem);
  }
  
  // 从页面顶部弹出动画
  .dialog-top-enter-active {
    transition: all .3s ease;
  }
  .dialog-top-leave-active {
    transition: all .3s ease;
  }
  .dialog-top-enter{
    transform: translate(0,-5rem);
  }
  .dialog-top-leave-to {
    transform: translate(0,-5rem);
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }